{% extends "base.html" %}

{% block content %}

<div  class="col-md-8 offset-md-2">
{{ user.username|default:'Guest' }} - projects

<h3>Project Index</h3>
<hr>
    {% for project in projects %}
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'pipeline:profile_detail' project.pk%}">{{ project.title }}</a></h5>
                    <small>
                        Technology: {{ project.technology.name }}
                    </small>
                    <p class="card-text">file: {{ project.samples }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
