psycopg2
biopython==1.79
Django==4.0.2
django-heroku==0.0.0
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
numpy==1.22.2
oauth==1.0.1
oauthlib==2.0.6
pandas==1.4.1
scipy==1.8.0
simplejson==3.13.2
SQLAlchemy==1.4.31
sqlparse==0.4.2
urllib3==1.22
virtualenv==15.1.0
