{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        <a href="{% url 'pipeline:logout' %}">Logout</a>
        <a href="{%  url 'pipeline:password_change' %}">Change password</a>
        <h2><a href="{% url 'pipeline:project_index' %}"
            class= "btn btn-primary">Existing Projects</a></h2>
        <h2><a href="{% url 'pipeline:create_project' %}"
            class= "btn btn-primary">New Project</a></h2>
    {% else %}
        <a href="{% url 'pipeline:login' %}">Login</a>
    {% endif %}
</div>

{% endblock %}
